<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Input image</title>
	</head>
	<body>

	{% if images %}
		<ul>
		{% for image in images %}
			<li><a href = "{{ image.imgfile.url }}">{{ image.imgfile.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No images uploaded.</p>
	{% endif %}

		<form action = "{% url 'input' %}" method = "post" enctype = "multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.imgfile.label_tag }}</p>
			<p>
				{{ form.imgfile.errors }}
				{{ form.imgfile }}
			</p>
			<p><input type = "submit" value = "Upload"/></p>
		</form>
	</body>
</html>
